body {
    text-align: center;
    margin: 50px 150px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2323;
}

#body {
    border-top: 3px solid grey;
    border-right: 3px solid grey;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

#loginForm {
    margin-top: 20px;
}

div {
    font-size: 14px;
}

#loginBtn, #signupBtn, #resetBtn, #loginAsGuest {
    border-radius: 3px;
    font-size: 12px;
    padding: 8px;
    color: white;
}

#loginBtn {
    margin: 20px 0;
    background-color: forestgreen;
}

#signupBtn {
    background-color: grey;
}

#resetBtn {
    background-color: burlywood;
    font-size: 10px;
    padding: 4px;
}

#loginAsGuest {
    background-color: darkkhaki;
    font-size: 12px;
    padding: 8px 4px;
    margin-left: 20px;
}

#username, #password {
    border: 1px solid white;
    border-bottom: 1px solid black;
    font-size: 12px;
}

.inputfields {
    padding-bottom: 15px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    /* float: left; */
}

